@charset "UTF8";

body {
    background-color: rgb(182, 255, 193);
    font-size: 16px;
}

#documento{
    margin: 0 auto;
    background-color: #bcbcffb6;
    width: 700px;
}
#cabecera{
    background-color: #80fdffdc;
    padding: 5px;
}
#cabecera #logo{
    width: 75px;
    height: 50px;
}

#cabecera #titulo{
    font-size: 1.3em;
    font-style: italic;
}
#barraUbicacion{
    background-color: #80fdffdc;
    border: 2px, solid,teal ;
    border-radius: 7px;
    padding: 3px;
    color: blue;
}

#main{
    margin: 7px;
    border: 3px, solid, black;
    border-radius: 5px;
    background-color: aliceblue;
    padding: 7px 20px 20px;
}
.boton{
    background-color: blue;
    color:white;
    border:thin black solid;
}

.boton a{
    text-decoration: none;
    color:white;
}

.boton a:visited{
    text-decoration: none;
    color:white;
}

.boton a:hover{
    background-color:cyan;
    color: black;
}

.boton:hover{
    background-color:cyan;
    color: black;
}

.tabla{
    width: 100%;
    border-collapse: collapse;
    border: none;
    background-color: white;
}

.tabla th{
    background-color: teal;
    color: blue;
}
.tabla tr.par{
    background-color: black;
    color: white;
    
}
#pie{
    background-color: #81e714;
    color: blue;
    font-size: 1.5 em;
    padding: 5px;
}

.for_texto{
    border:blue thin solid;
    background-color: white;
    padding: 2px;
    margin:2px;
    border-radius: 4px;
}
.error{
    background-color: white;
    color:red;
    border:thin solid red;
    padding:5px;
}
